.header{
	background:#0088ff;
	height:60px;
	width:100%;
	border-bottom:1px solid #efefef;
	position:fixed;
	top:0;
	left:0;
}
.title{
	color:#FFF;
	line-height:60px;
	font-size:18px;
	font-weight:normal;
	float:left;
	margin:0;
	padding:0;
}