.sidebar{
	box-sizing: border-box;
	background:#FFF;
	padding:15px;
	border:1px solid #DDD;
	width:100%;
}
.register{
	text-align:center;
}
.qrcode{
	width:100%;
	max-width:280px;
}
@media only screen and (max-width: 600px) {
	.sidebar{
		border:0;
	}	
}